In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\MSI\Desktop\MLprojet\dataset_Cleaned.csv")
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,...,Max_S,avg_salary,Country,age_company,python,java,machine learning,aws,Job,Seniority
0,0,Junior Data Scientist,61 - 114,Abbott is a global healthcare leader that help...,3.9,Abbott Laboratories,"Waukegan, IL",10000+ Employees,1888.0,,...,114,87.5,IL,133.0,0,0,1,0,data scientist,na
1,1,Data Scientist,92 - 158,Company Description\n\nRobert Bosch is a world...,3.9,Bosch Group,"Sunnyvale, CA",10000+ Employees,1886.0,Company - Private,...,158,125.0,CA,135.0,0,0,0,0,data scientist,na
2,2,Data Scientist,56 - 98,What We Offer:\nAt Blain’s Farm & Fleet we bel...,3.2,Blain's Farm & Fleet,"Janesville, WI",1001 to 5000 Employees,1955.0,Company - Private,...,98,77.0,WI,66.0,0,0,0,0,data scientist,na
3,3,Data Scientist,80 - 157,Purpose & Overall Relevance for the Organizati...,4.0,Adidas,"Portland, OR",10000+ Employees,1949.0,Company - Public,...,157,118.5,OR,72.0,0,0,0,0,data scientist,na
4,4,Data Scientist – Deep Learning,93 - 169,Company Description\n\nThe Bosch Center for Ar...,3.9,Bosch Group,"Sunnyvale, CA",10000+ Employees,1886.0,Company - Private,...,169,131.0,CA,135.0,0,0,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,995,University Grad Data Scientist,41 - 79,About Pinterest:\nMillions of people across th...,4.2,Pinterest,"San Francisco, CA",1001 to 5000 Employees,2010.0,Company - Public,...,79,60.0,CA,11.0,0,0,0,0,data scientist,na
957,996,Facebook University - Analytics - Data Science,41 - 79,Facebook's mission is to give people the power...,4.3,Meta,"Menlo Park, CA",10000+ Employees,2004.0,Company - Public,...,79,60.0,CA,17.0,0,0,0,0,na,na
958,997,Customer Intelligence Data Scientist - Opportu...,41 - 79,"At VMware, we are preparing for the transforma...",-1.0,VMware,"Bridgeport, CT",10000+ Employees,1998.0,Company - Public,...,79,60.0,CT,23.0,0,0,0,1,data scientist,na
959,998,Astronomer Data Scientist,41 - 79,Job Title\n\nDeveloper\n\n\nRelevant Experienc...,3.9,TCS,"Boston, MA",10000+ Employees,1968.0,Company - Public,...,79,60.0,MA,53.0,0,0,0,0,data scientist,na
960,999,Data Scientist,41 - 79,"Summary\nPosted: Nov 5, 2021\nWeekly Hours: 40...",4.3,Apple,"Minneapolis, MN",10000+ Employees,1976.0,Company - Public,...,79,60.0,MN,45.0,0,0,0,0,data scientist,na

DATA PREPARATION 
 - we prepare the data and choose the column we need in labels

In [3]:
#import train_test_split from sklearn alow us to split data arrays into two subsets 
from sklearn.model_selection import train_test_split

In [4]:
#we put all the columns in a variable model except the average column to use it later 
df_model=df[['Rating','Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
             'Industry', 'Sector', 'Revenue', 'Min_S', 'Max_S',
             'Country', 'age_company', 'python', 'java', 'machine learning', 'aws',
             'Job', 'Seniority']]

In [6]:
#we will split the data arrays into labels that contains the value of average salary 
#we will work on and features that contains the variable model
labels = df['avg_salary'].astype(int)
features =pd.get_dummies(df_model).astype(int) #.get_dummies() used to manipulate data for regression

In [7]:
print(labels)

0       87
1      125
2       77
3      118
4      131
      ...
956     60
957     60
958     60
959     60
960     60
Name: avg_salary, Length: 961, dtype: int32

In [8]:
print(features)

     Rating  Min_S  Max_S  python  java  machine learning  aws  \
0         3     61    114       0     0                 1    0
1         3     92    158       0     0                 0    0
2         3     56     98       0     0                 0    0
3         4     80    157       0     0                 0    0
4         3     93    169       0     0                 0    0
..      ...    ...    ...     ...   ...               ...  ...
956       4     41     79       0     0                 0    0
957       4     41     79       0     0                 0    0
958      -1     41     79       0     0                 0    1
959       3     41     79       0     0                 0    0
960       4     41     79       0     0                 0    0

     Company Name_Abbott Laboratories  Company Name_Abbvie  \
0                                   1                    0
1                                   0                    0
2                                   0                    0
3                                   0                    0
4                                   0                    0
..                                ...                  ...
956                                 0                    0
957                                 0                    0
958                                 0                    0
959                                 0                    0
960                                 0                    0

     Company Name_Adidas  ...  age_company_82.0  age_company_84.0  \
0                      0  ...                 0                 0
1                      0  ...                 0                 0
2                      0  ...                 0                 0
3                      1  ...                 0                 0
4                      0  ...                 0                 0
..                   ...  ...               ...               ...
956                    0  ...                 0                 0
957                    0  ...                 0                 0
958                    0  ...                 0                 0
959                    0  ...                 0                 0
960                    0  ...                 0                 0

     age_company_9.0  age_company_93.0  Job_analyst  Job_data scientist  \
0                  0                 0            0                   1
1                  0                 0            0                   1
2                  0                 0            0                   1
3                  0                 0            0                   1
4                  0                 0            0                   1
..               ...               ...          ...                 ...
956                0                 0            0                   1
957                0                 0            0                   0
958                0                 0            0                   1
959                0                 0            0                   1
960                0                 0            0                   1

     Job_na  Seniority_jr  Seniority_na  Seniority_senior
0         0             0             1                 0
1         0             0             1                 0
2         0             0             1                 0
3         0             0             1                 0
4         0             0             1                 0
..      ...           ...           ...               ...
956       0             0             1                 0
957       1             0             1                 0
958       0             0             1                 0
959       0             0             1                 0
960       0             0             1                 0

[961 rows x 380 columns]

In [35]:
#X_train , y_train : used to test/train/fit the model
#X_test : used to make predictions to test the accuracy of the model 
#y_test : has the label for that will be used to test the accuracy between actual and predicted result.
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2,random_state=10)

DATA MODELING

In [36]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC 
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [37]:
#we need to use algorithm to solve both classification and regression problem statements.
knn = KNeighborsClassifier()
tree = DecisionTreeClassifier()
svm = SVC()
log = LogisticRegression()
naive = GaussianNB()

In [39]:
# with the function .fit estimates the best representative for the the data
knn.fit(X_train, y_train)
tree.fit(X_train, y_train)
log.fit(X_train, y_train)
naive.fit(X_train, y_train)
svm.fit(X_train, y_train)

C:\Users\MSI\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

SVC()

In [40]:
#.score to calculate the accuracy of the model against the training data.
print(knn.score(X_test, y_test),
tree.score(X_test, y_test),
log.score(X_test, y_test),
naive.score(X_test, y_test),
svm.score(X_test, y_test))

0.9792746113989638 0.9689119170984456 0.9637305699481865 0.772020725388601 0.9430051813471503

In [41]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
# in accuracy tree was the best score so we use tree to predict the result
tree_preds = tree.predict(X_test)

# the label tree_preds predicted for a sample must exactly match the labels in y_test.
#score reaches its best value at 1 and worst score at 0.
print(accuracy_score(tree_preds, y_test),
precision_score(tree_preds, y_test,average='micro'),
recall_score(tree_preds, y_test,average='micro'),
f1_score(tree_preds, y_test,average='micro'))

0.9689119170984456 0.9689119170984456 0.9689119170984456 0.9689119170984456

In [42]:
from sklearn.metrics import classification_report

print(classification_report(tree_preds, y_test))

              precision    recall  f1-score   support

          53       1.00      1.00      1.00         5
          60       1.00      1.00      1.00        75
          91       0.00      0.00      0.00         0
          92       1.00      0.75      0.86         4
          97       1.00      1.00      1.00         3
         100       0.00      0.00      0.00         2
         101       1.00      1.00      1.00        96
         110       1.00      1.00      1.00         1
         120       0.00      0.00      0.00         0
         125       0.00      0.00      0.00         0
         131       0.00      0.00      0.00         1
         134       0.67      1.00      0.80         4
         174       0.00      0.00      0.00         2

    accuracy                           0.97       193
   macro avg       0.51      0.52      0.51       193
weighted avg       0.97      0.97      0.97       193

C:\Users\MSI\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\MSI\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [43]:
#we wanted to display all the prediction result in a table with a loop 
for i in [tree,knn,log,svm]:
    preds=i.predict(X_test)
    print([i], round(accuracy_score(preds, y_test), 3),
          round(precision_score(preds, y_test,average='micro'),3),
          round(recall_score(preds, y_test,average='micro'),3),
          round(f1_score(preds, y_test,average='micro'),3))

[DecisionTreeClassifier()] 0.969 0.969 0.969 0.969
[KNeighborsClassifier()] 0.979 0.979 0.979 0.979
[LogisticRegression()] 0.964 0.964 0.964 0.964
[SVC()] 0.943 0.943 0.943 0.943